@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

.slick-prev:before,
.slick-next:before {
  color: #2563eb;
  font-size: 28px;
}

.slick-dots li button:before {
  color: #94a3b8;
  font-size: 12px;
}

.slick-dots li.slick-active button:before {
  color: #2563eb;
}
